body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
  }
  
  p {
    position: relative;
    font-family: Impact, sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #90EE90, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }